<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let m of months">
                {{ m.name }}
            <div class="container">
                <div class="row">
                    <div class ="font-small col-md" *ngFor="let w of weekdays">
                        {{ w }}
                        <div  [class]="btnClass" *ngFor="let i of weeks" (click)="OnClick($event)">
                            {{ 0 }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>