<div class="centerlize">
<h1>2020 Mood Challenge</h1>

<div>
  <h3>Mood Buttons</h3>
  <div>
    <button class="btn btn-success"   (click)="onClick('happy')">Happy</button>
    <button class="btn btn-warning" (click)="onClick('normal')">Normal</button>
    <button class="btn btn-primary"   (click)="onClick('sad')">Sad</button>
    <button class="btn btn-danger"  (click)="onClick('angry')" >Angry</button>
  </div>
</div>
<p></p>
<div> This is a mood calendar where you can record all your moods throughout the year!!</div>

<p></p>
<calendar [mood]="moodClicked"></calendar>

</div>